.flip-inner {
    height: 3em;
    width: 4em;
    background: linear-gradient(45deg, #f15b1cbd 16.6%, #ffa500d4 33.6%, #d9d900cf 49.6%, #b2d241cc 66.6%, #16d1bac7 83.6%, #d61fd6d4 100.6%);
    align-self: center;
    margin: 0.5em;
    justify-self: right;
border-top-right-radius: 1.3em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 1.3em;
    animation: 3s linear flip;
    animation-fill-mode: forwards;
    transform: rotate3d(0, 0, 0, 0deg);
}
.flip-outer {
    animation: 3s linear infinite hro;
}
@keyframes flip {
    0% {
        width: 4em;
        transform: rotate3d(0, 0, 0, 0deg) scale(2);
    }
    75% {
        width: 4em;
        transform: rotate3d(360, 360, 360, 360deg) scale(1);
        /* transform: rotate3d(150, 150, 150, 90deg) scale(1.5); */
    }
    100%{
        transform: rotate3d(360, 360, 360, 360deg) scale(1);
        width: calc(100vw - 1em);
    }
   }
@keyframes hro {
    0% {
        filter: hue-rotate(0deg) blur(3px);
    }
    75% {
        filter: hue-rotate(1440deg) blur(7px);
        /* filter: hue-rotate(720deg) blur(37px); */
    }
    100% {
        filter: hue-rotate(0deg) blur(3px);

    }
}
