<head>
  <title>{{.AppName}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>{{ template "head.css" . }}</style>
  <script>{{ template "head.js" . }}</script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>


